html {
  box-sizing: border-box;
  font-family: san-serif;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}

#root {
  min-height: 100vh;
  background: linear-gradient(to right, #2c5364, #203a43, #0f2027);
}

.container {
  height: inherit;
  display: flex;
  justify-content: space-around;
  padding: 1rem 1rem 0;
}

#editor {
  width: 35%;
  height: 98vh;
  padding: 1rem;
}

#preview {
  width: 60%;
  height: 98vh;
  padding: 2rem;
  background: #fff;
  overflow-y: scroll;
}

/*Markdown output styles*/
blockquote {
  border-left: 3px solid #224b4b;
  color: #224b4b;
  padding-left: 5px;
  margin-left: 25px;
}

code {
  background: white;
  padding: 1px 4px 2px 4px;
  font-size: 12px;
  font-weight: bold;
}

pre {
  background: white;
  padding: 5px 0 5px 5px;
}

h1 {
  border-bottom: 2px solid #0f2027;
}

h2 {
  border-bottom: 1px solid #0f2027;
}

table {
  border-collapse: collapse;
}

td,
th {
  border: 2px solid #0f2027;
  padding-left: 5px;
  padding-right: 5px;
}
